header {
    background: rgb(3, 0, 0);
}
 . caixa{
    position: relative;
    width: 940px;
    margin: 0px;
 }
h1 {
    display: inline;
}
#logo {
    width: 250px;
}
nav {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 110px;
}

nav li{
     display: inline;
     margin-left: 15px;
}
nav a {
    text-transform: uppercase;
    color: aliceblue;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.produtos li{

    display:inline-block;
    text-align: center;
    border-color:grey ;
    border-width : 5px ;
    border-style: solid;
    margin: 10px;
    padding: 20px;
}
.item{
    width: 300px;
    height: 280px;
}
.produtos {
    margin: 0 auto;
    width: 853px;
    padding: 50px 0;
}
.produtos h2 {
font-size: 25px;
 font-weight: bold;
 padding: 10px;
}
.produtos li p {
  margin-top: 10px;
    font-size: 20px;   
}