body{
    
    background: rgb(255, 154, 141);
}
#topo {
    width: 100%;
    height: 200px;
}
p {
    text-align: center;
  
 }
 
 #lema{
     font-size: 25px;
     color:aliceblue
 }
 . itens {
     font-style: italic
 }